﻿
meli-dashboard {
    font-size: 44px;
    margin: 0;
    width: 100%;
}

.gridster .gridster-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow: hidden;
}

.meli-chart-header {
    position: relative;
    color: white;
    background-color: #444;
    font-size: 18px;
    border-bottom: 1px solid black;
    min-height: 30px;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.meli-chart-header-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

    .meli-chart-header-buttons .btn {
        margin: 4px;
        margin-top: 3px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

.meli-chart-body {
    position: relative;
}

.meli-dashboard-header {
    font-size: 20px;
    border-bottom: 1px solid #444;
    color: white;
    background-color: #888;
    margin: -20px;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 8px;
    padding-left: 20px;
}

.meli-dashboard-controls {
    float: right;
}

.meli-chart-menu-area {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 22px;
}

    .meli-chart-menu-area .dropdown-menu {
        left: -20px;
        padding-left: 15px;
    }

    .meli-chart-menu-area a {
        color: white;
    }

    .meli-chart-menu-area i {
        cursor: pointer;
    }

.dropdown-backdrop {
    position: static;
}
