﻿

.meli-menu-area {
    float: left;
    position: relative;
    background-color: #333;
    color: #ccc;
    padding-left: 0;
    width: 200px;
    min-height: 100vh;
    padding-top: 30px;
}

.meli-menu-area ul {
    padding-left: 0;
}

.meli-menu-area .btn:hover {
    color: #ccc;
}

.meli-menu {
    list-style-type: none;
    vertical-align: top;
}

.meli-menu ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.meli-menu li {
    line-height: 3em;
    cursor: pointer;
}

.meli-menu li div {
    display: inline-block;
    width: 90%;
    padding-left: 16px;
}

.meli-selectable-item:hover {
    background-color: #555;
}

.meli-menu-icon {
    margin-right: 10px;
}

.meli-menu-active-indicator {
    float: right;
    color: #ddd;
    margin-right: 0;
    margin-top: 8px;
}

.meli-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
