﻿
.meli-title-bar{
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.meli-logo-area{
    /*text-align: center;*/
}

.meli-title-area{
    display: inline-block;
    text-align: center;
}


.meli-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
}

.meli-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.meli-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

@media screen and (max-width: 360px) {
    .meli-icon {
        display: none;
    }

    .meli-logo-title {
        font-size: 18px;
    }
}

.meli-right-side-controls{
    line-height: 60px;
}

.meli-right-side-controls > div {
    text-align: right;
}

@media screen and (min-width: 768px){
    .meli-right-side-controls > div {
        text-align: right;
    }

    .meli-logo-area{
        text-align: left;
    }
}

.meli-collapsed-menu {
    display: inline-block;
    height: 100%;
}

.meli-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;
}

.meli-view{
    margin-left: 200px;
    padding: 20px;
    background-color: #ccc;
    min-height: 100vh;
    overflow: auto;
}

.meli-view-full-width {
    margin-left: 0;
}