﻿<div class="meli-dashboard-header">
    Mis tableros
</div>

<div gridster="gridsterOpts">
    <ul>
        <li gridster-item="item" ng-repeat="item in dash.charts">
            <div class="meli-chart-header">
                <span>{{ item.title}}</span>
                <div class="meli-chart-header-buttons">
                    <button class="btn btn-default pull-right">
                        <i class="fa fa-trash">
                        </i>
                    </button>
                    <button class="btn btn-default pull-right">
                        <i class="fa fa-gear">
                        </i>
                    </button>
                </div>
            </div>
            <div class="meli-chart-body">

            </div>
        </li>
    </ul>
</div>