﻿
<div class="container">
    <form ng-hide="login.isLoggedIn" class="form-horizontal" name="loginForm">
        <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid}">
            <input type="text" name="username" ng-model="username" required />
        </div>
        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid}">
            <input type="password" name="password" ng-model="password" required />
        </div>
        <button type="submit" class="btn btn-success" ng-click="login.login()">Entrar</button>
    </form>
    <div ng-show="login.msjLoggedIn">{{login.msjLoggedIn}}</div>
</div>