﻿<a ui-sref="{{route}}">
    <li class="meli-selectable-item">
        <div class="meli-noselect">
            <i class="fa {{icon}} meli-menu-icon"></i>
            {{label}}
        </div>
        <i class="fa fa-2x fa-caret-left meli-menu-active-indicator" ng-if="isActive()"></i>
    </li>
</a>
