﻿<div class="meli-title-bar">
    <div class="row">
        <div class="meli-logo-area col-sm-6">
            <img class="meli-icon" ng-src="{{iconFile}}" />
            <div class="meli-title-area">
                <p class="meli-logo-title">{{title}}</p>
                <p class="meli-logo-subtitle">{{subtitle}}</p>
            </div>

            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()"
                 class="meli-collapsed-menu pull-right">
                 <button type="button" class="btn btn-default">
                     <i class="fa fa-bars"></i>
                 </button>
            </div>

        </div>
        <div class="meli-right-side-controls col-sm-6">
            <div>
                <a ui-sref="login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>
<div ng-transclude></div>
<div ui-view class="meli-view"
     ng-class="{'meli-view-full-width': !isMenuVisible }">

</div>
