﻿<div class="container">

    {{home.msj}}
    <div ng-show="personas">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Apellido
                    </td>
                    <td>
                        Fecha de nacimiento
                    </td>
                </tr>
            </thead>
            <tr ng-repeat="persona in home.personas">
                <td>
                    {{persona.Nombre}}
                </td>
                <td>
                    {{persona.Apellido}}
                </td>
                <td>
                    {{persona.FechaNacimiento | date}}
                </td>
            </tr>
        </table>
    </div>
</div>