﻿<!DOCTYPE html>
<html ng-app="appMeli" lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/angular-gridster.min.css" rel="stylesheet" />
    <link href="Content/app.css" rel="stylesheet" />
    <link href="Content/meliFramework.css" rel="stylesheet" />
    <link href="Content/meliMenu.css" rel="stylesheet" />
    <link href="Content/meliDasboard.css" rel="stylesheet" />

    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <!--<script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>-->
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="Js/App.js"></script>

    <!--Controllers-->
    <script src="Js/Controllers/HomeController.js"></script>
    <script src="Js/Controllers/LoginController.js"></script>
    <script src="Js/Controllers/meliFrameworkController.js"></script>
    <script src="Js/Controllers/meliMenuController.js"></script>
    <script src="Js/Controllers/DashboardController.js"></script>
    <script src="Js/Controllers/appController.js"></script>

    <!--Services-->
    <script src="Js/Services/commonServices.js"></script>
    <script src="Js/Services/personasService.js"></script>
    <script src="Js/Services/PersonaService.js"></script>
    <script src="Js/Services/userService.js"></script>

    <!--Directives-->
    <script src="Js/Directives/meliFrameworkDirective.js"></script>
    <script src="Js/Directives/meliMenuDirective.js"></script>
    <script src="Js/Directives/meliMenuItemDirective.js"></script>

    <!--Gridster for dashboard-->
    <script src="Scripts/angular-gridster.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <base href="/">
    <title>MELI</title>
</head>
<body ng-cloak class="container-fluid" ng-controller="appController">

    <div ng-show="!state">   
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Login</div>
                        <div class="panel-body">
                            <form ng-hide="isLoggedIn" class="form-inline" name="loginForm" novalidate>
                                <div class="row">
                                    <div class="form-group" ng-class="{'has-error has-feedback': loginForm.username.$invalid && loginForm.username.$dirty }">
                                        <label class="control-label" for="username">Usuario</label>
                                        <input type="text" id="username" name="username" class="form-control" ng-model="username" required autofocus
                                               uib-tooltip="¿Cuál es su usuario?" tooltip-placement="bottom-right"
                                               tooltip-is-open="loginForm.username.$invalid && loginForm.username.$dirty || loginError"
                                               tooltip-class="tooltip-class" />
                                        <span ng-show="loginForm.username.$invalid && loginForm.username.$dirty">
                                            <span class="help-block has-error" tooltip-is-open="true">
                                                Usuario Requerido
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
                                        <label class="control-label" for="password">Contraseña</label>
                                        <input type="password" id="password" name="password" class="form-control" ng-model="password" required
                                               uib-tooltip="¿Cuál es su contraseña?" tooltip-placement="bottom-right"
                                               tooltip-is-open="loginForm.password.$invalid && loginForm.password.$dirty || loginError"
                                               tooltip-class="tooltip-class" />
                                        <span ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
                                            <span class="help-block has-error" tooltip-is-open="true">
                                                Contraseña Requerida
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-success" ng-click="login(loginForm.$valid)">Entrar</button>
                                <div class="" ng-show="loginError"><i class="fa fa-exclamation-triangle" style="color: red" aria-hidden="true"></i>  {{loginError}}</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="state">
        <meli-framework title="Meli-Mosconi"
                        subtitle="Analizar Ventas para mercado libre"
                        icon-file="/images/meli-logo.png">

            <meli-menu>

                <meli-menu-item label="Dashboard" icon="fa-dashboard" route="dashboard"></meli-menu-item>
                <!--<meli-menu-item label ="Alertas" icon="fa-bell" route="alertas"></meli-menu-item>-->
                <meli-menu-item label="Personas" icon="fa-user-o" route="personas"></meli-menu-item>
            </meli-menu>
        </meli-framework>

    </div>
</body>
</html>